body {
  text-align: center;
  background-color: white;
}

img {
  padding: 20px;
  border-radius: 50%;
  height: 350px;
  width: 340px;
}
p {
  font-size: 18px;
}

button {
  height: auto;
  font-size: 12px;
}

button:hover {
  border-radius: 10%;
  cursor: pointer;
}

#wrapper {
  margin: auto;
  width: auto;
}
