@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Nunito&family=Poppins:wght@300&family=Roboto&family=Work+Sans&display=swap');*{ margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100%;
    min-height: 100vmh;
}



a:link { text-decoration: none;
        }


/* create logo later*/
.logo img, .skiplinks {
    display: none;
  
}
header{
    content: url('assets/Logo\ -\ Rijksoverheid.png.webp');
    display: block;
  margin: -25px auto 10px auto;
  width: 10%;

}

/* Nav Bar */

#navBar{
  overflow: hidden;
  background-color: rgb(25, 100, 146);
  padding: 1%;
}

/* Home/Top menu */
.breadCrumbNav{
    position: relative;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#breadCrumbNavLabel {
    display: none;
}

.breadCrumbNav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 25%;
    font-size: 20px;
}

.breadCrumbNav a:hover{
    text-decoration: underline;
}

#topMenu{ 
        list-style: none;
        display: flex;
       justify-content: center;
       margin-left: 40%;
       color: #ffffff;
}
#topMenu li a {
    color: white;
    font-size: 20px;
    padding: 16px 12px;
    text-decoration: none;
    font-family: , sans-serif;
}
#topMenu li:hover {
    text-decoration: underline grey;
}
 /* images */
.topTask {
    background-image: url('assets/pexels-kaique-rocha.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
  }
  .topTask .wrapper{
    padding: 10%;
}
/* Search Form*/

#searchForm{
    position: absolute;
    left: 55%;
    top: 20%;
   background-color: transparent;
    width: 19%;
}
.searchForm label{ 
    display: none;
    align-content: flex-end;
   
    
}
.searchForm input, button {
    height: 50px;
    background-color: white;
    width: 14rem;
}

.searchForm button{
    position: relative;
   margin-left: -4px;
    width: 15%;
  
}

.searchSubmit::before{
    content: '\f002';
    font-family: FontAwesome; 
    font-size: 20px;
    padding: 5px;
    }
/* */
.topTaskNavigation {
    background-color: white;
    position: relative;
    left: 18%;
    width: 28%;
    
}

.topTaskNavigation ul{
    background-color: white;

}
.topTaskNavigation li{
    list-style: none;
    padding: 2%;
    font-size: 18px;
}
.topTaskNavigation li a{
    color: rgb(25, 100, 146);
}

.topTaskNavigation li::before {
    position: relative;
    top: 5px;
    content:'\f105'; 
    font-family: FontAwesome; 
    color: rgb(25, 100, 146);
    font-size: 1em;
    padding: 2%;
}

.topTaskNavigation li:hover{
    text-decoration: underline rgb(25, 100, 146);

}
  /* copyright information */
.slide{
    color: white;
    position: absolute;
    bottom: 10px;
}

/* navigation items after image*/
editorial-navigation nav{
    justify-content: space-around;
}

.fourItems ul{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin: auto;
    width: 58%;
    padding: 3%;
}

.navItem {
    overflow: hidden;
list-style: none;
flex: 0 0 21%; 
margin: calc(8%/8);
border: #000000;
}

.navItem a{
   color: rgb(25, 100, 146);
}

.navItem p{
    color: #000000;
}
.grey{
    background-color: rgb(240, 240, 240);
}

/* editorial text assistive text */
.assistive {
    z-index: 0;
    display: none;
}

/* second section */
.spotLight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin: 0 0 0 17%;
    padding-top: 1%;
}

.spotLight h2{
    position: absolute;
    margin: 0 0 0 -52%;
    color: black;
}

.spotLight div{
    overflow: hidden;
    flex: 0 0 25%; 
    margin: calc(8%/8);
    padding-top: 3%;
    
}


.spotLight figure:first-child{
    background-image: url('assets/corona-zelftesten-429653457.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    }

.spotLight div a{
    color: rgb(25, 100, 146);
}
/* third section- news */

.nieuws {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 20%;
    padding: 2%;
   
}
.nieuws h2{
    position: absolute;
  margin: 0 0 0 1.8em;
    color: black;
}

.nieuws .brick{
    display: flex;
    overflow: hidden;
    flex: 0 0 25%; 
    margin: calc(10%/8); 
  padding: 0.5em 1.0em;  

}
.nieuws .more {
position: relative;
right: 85%;
bottom: 90%;
margin: 20% 0 0 2%;
color:  rgb(25, 100, 146);
font-size: 25px;
}
.nieuws .more:hover{
text-decoration: underline rgb(25, 100, 146);
}

.nieuws .more::before {
    content:'\f105'; 
    font-family:FontAwesome; 
    color:#000000;
    font-size: 1em;
    padding-right: 5px;
    }

.brick a{
    color: rgb(25, 100, 146);
    padding: 1%;
    text-decoration: none;
}

.brick-image figure::after{
    background-image: url('pexels-anna-tarazevich-7229045.jpg');
}


.brick-text p{
    color: #000000;
    text-decoration: none;
    padding: 2%;
}

/*2 column section*/
aside{
    display: grid;
    background-size: 100%;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  padding: 4%;
}
 

/* footer section*/
footer .wrapper{
    position: relative;
    display: flex;
    width: auto;
    flex: 0 0 70%;
    gap: 3%;
    justify-content: center;  
}

.site-footer{
    background-color: rgb(25, 100, 146);
}

.site-footer span, h2{
font-family: 'Roboto', sans-serif;
color: #ffffff;
}
footer .column ul {
    list-style: none;
}
.column {
    width: 25%
    
}
.column ul li{
    padding: 3%;
    font-family: 'Roboto', sans-serif;
}

.column ul li:hover {
    padding: 2%;
    text-decoration: underline white;
   
}

.column ul li::before {
    content:'\f105'; 
    font-family:FontAwesome; 
    color: #ffffff;
    font-size: 1.3em;
    padding-left: 1%;
}
.column ul li a{
    color: white;
}
/* footer- languages*/
.languages{
    background-color: #ffffff;
}
.languages ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    gap: 3%;
}
.languages ul li {
    border: solid 1px rgb(25, 100, 146);
    margin-top: 10px;
  padding: 1em 1.5em;
}
.languages ul a{
    color: rgb(25, 100, 146);
  }

.languages ul a:hover{
    color: #ffffff;
    }

.languages ul li:hover{
    background-color: rgb(25, 100, 146);
    cursor: pointer;
    color: #ffffff;
}

.languages ul li:nth-child(1){
    background-color: #ffffff;
    border: none;

}

/*media query- responsive*/


@media screen and (max-width: 480px) {
    header{
       width: 30%;
    }

    #navBar{
      margin-top: -10px;
      padding-top: -20px;
    }

    #topMenu{
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1rem;
    }

    #topMenu li a{
        font-size: 10px;
    }
     
    .fourItems ul{
        padding: 3%;
        flex-direction: column;

    }
    
    .navItem {
        flex: 0 0 100%; 
    margin: calc(8%/4);
    }
    
    .spotLight{
        flex-direction: column;
    }
    .spotLight h2{
        display: none;
    }

    .spotLight::before{
        content: 'Direct naar';
        font-size: 1.8em;
    }

    .nieuws{
        flex-direction: column;
    }
    aside{
        grid-column: 1;
    }

    .languages ul li {
        width: auto;
        margin-top: 10px;
      padding: 10px 10px;
      font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    header{
        width: 10%;
     }
   
   
    #topMenu{
        justify-content: flex-start;

    }
    .topTaskNavigation {
        width: 30%;
    }
    .fourItems ul{
        justify-content: center;
        gap: 4%;
        padding: 5%;
    }
    
    .navItem {
    flex: 0 0 40%; 
    margin: calc(8%/4);
    }
    
    .navItem p{
        padding-top: 15px;
    }

    .spotLight h2{
        position: absolute;
        margin: 0 0 0 0;
        color: black;
    }
    .spotLight div{
        overflow: hidden;
        flex: 0 1 48%; 
        margin: 1%;
        padding-top: 4%;
        overflow: hidden;
    }
        .spotLight::after{
            content: '';
            flex: 0 1 48%;
           
        }

        .spotLight .brick-image{
            width: 100%;
            height: 150px;
        } 

        .nieuws{
            width: 80%;
            margin-left: 11%;
            padding: 2%;
        }

        .nieuws .brick{
            flex: 0 0 45%; 
            margin: calc(10%/8); 
          padding: 1em 1.5em;  
        
        }

        .languages ul li {
            width: auto;
            margin-top: 10px;
          padding: 10px 10px;
          font-size: 10px;
        }
}

@media screen and (max-width: 1183px) {
    #topMenu{
        justify-content: flex-start;
    }

    #searchForm{
        left: 55%;
        top: 20%;
        width: 20%;
    }
    .searchForm input, button {
        height: 50px;
        background-color: white;
        width: 16rem;
    }
    
    .searchForm input {
        position: relative;
        top: 7px;
        width: 70%;
    }
    .searchForm button{
       margin-left: -5px;
        width: 30%;
      
    }
    .topTaskNavigation {
        position: relative;
        left: 15%;
        width: 30%;
    }
    .topTaskNavigation li{
        font-size: 0.8em;
    }

    .navItem {
        overflow: hidden;
    flex: 1 0 28%; 
    margin: calc(8%/4);
    }
    
}
