body{
    text-align: justify;
}
h1{
    font-size: 30px;
}
h2 {
    font-size: 20px;
    color: rgb(0, 115, 128);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 10px;
}
.bio {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 115, 128);
    padding: 20px;  
}
.header-bio {
    text-align: left;
    padding-bottom: 3%;
}
.cv-picture {
    float: right;
    border-radius: 50%;
    width: 25%;
}
.icons{
    padding-right: 20px;
    color: rgb(0, 115, 128);
}
.segment {
    border-top: 3px solid rgb(0, 115, 128);
    padding: 10px 0 40px 0; 
}
 .date {
    position: absolute;
    right: 25%;
 }
 .publication {
     padding-top: 5px;
 }

a {
    text-decoration: none;
    color: rgb(0, 115, 128);
}